
/*BUTTONS*******************************************************************/

.btn-search{
	background-color: #337ab7 !important;
	color: #fff !important;
}

.btn-search:hover{
	background-color: #2e6ca0;
	color: #fff;
}

.form-inline{
	margin-left: 12px; 


}

.btn-compose-mail{
	border: none !important;
}

.btn-compose-mail:hover{
	box-shadow:  0 14px 26px -12px rgba(40, 96, 144, 0.42),
				 0 4px 23px 0px rgba(0, 0, 0, 0.12), 
				 0 8px 10px -5px rgba(40, 96, 144, 0.42);
}

.btn-group-options{
	border: none;
	background-color: #fff !important;
}

.btn-group-options:hover{
	background-color: #fff !important;
}

.btn-group{
	margin-left: -19px;
	color: #6b6b6b !important;
}

/*TABLES======================================*/
.table-striped>tbody>tr:nth-of-type(odd){
	background-color: #f2f8ff;
}

.well-blue{
	background-color: #D0E3EF;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.sidebar .btn{
	background-color: #337ab7;
	color: #feffff;
}




/*CUSTOM CHANGES*****************************/

.pointed-border{
	border-radius: 0;
}

/*Panels************************************/

.panel-view-message{
	border-color: #fff !important;
	box-shadow: none;
	width: 130vh;
}

.panel-heading{
	background-color: #fff !important;
}




/*Write Message********************************/
.sendto{
	overflow-x: hidden;
	overflow-y: scroll;
	width:  400px;
	height: 45px;
	background-color: #839cb2;
	border-radius: 20px;
	display: inline-block;
	margin-left: 10px;
	padding-left: 10px;
}
.sendto .btn-group .btn{
	height: 30px;
	margin-left: unset;
	border-radius: 20px;
	margin: 5px 0px 5px 0px;
	background-color: #cdd3db;
	border: none;
	color: #1f3651;

}

.sendto .btn-group{
	margin-left: unset;
}

.sendto .btn .glyphicon{
	color: #d9534f;
}

.typetxt{
	height: 30px;
	border-radius: 20px;
	margin-left: 5px;
}

.sendtobtn{
	float: right;
	margin: 0 3px;
	background-color: #4a91c6;
	color: white;
}

.panel-write-message{
	border: none;
}
.sendtxt{
	vertical-align: 100%;
}

.formmessage{
	width: 100%;
}
.formmessage.form-inline .form-control{
	width: unset;
	width: 80%;

}

.msg-btn{
	margin-top: 10px;
	float: left;
}

.createsend{
	background-color: #5bc0de;
	color: #feffff;
}

.createsave{
	background-color: #4a91c6;
	color: #feffff;
}
.createdlt{
	background-color: #d9534f;
	color: white;
}

textarea.form-control.col-md-10{
	background-color: #839cb2;
	width: 85%;
	margin-left: -45px;
}

.msglabel{
	margin-left: -14px;
}

.modal .pagination{
	border: none;
}

input.form-control.typetxt{
	width: 150px;
}

table.contModal{
	width: 100%;
}
.modal-content {
  height:85vh;
  overflow:auto;
}

/*	SCROLL BAR!!*******************/
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
   	background-color: rgba(0, 132, 255, .2);
   }
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */



/*END FOR CREATOR.HTML*/
.panel-message-list{
	border-color: #fff;
	box-shadow: none;
}

.drop-checkbox{
	padding-bottom: 4px;
}


input[type=checkbox] {
  font-size: 16px;
  position: relative;
  border: 1px solid #676767;
  display: inline-block;
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
}


input[type=checkbox]:checked::after {
  position: absolute;
  content: '✔';
  left: 15%;
  top: -10%;
  height: 40%;
  width: 90%;
}