/*
NIGGA  			#cdd3db;
white-space: 	#feffff;
navy blue		#1f3651;
pastel blue		#839cb2;
light blue		#cdebfe;
dark blue		#6b7d94;

*/


*{
	font-family: 'Segoe UI'
}

body{
	margin-top: 60px;
	
}

.container{
	background-color: #CDD3DB;
	height: 100vh;
}


.currentwin{
	background-color: #cdd3db;
}

.navbar{
	background-color: #1f3651;

}


.navbar-default .navbar-nav>li>a{
	color: #feffff !important;
	min-width: 100px;
	text-align: center;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #feffff !important;
	background-color: #1a2d44 !important;
}

.navbar-default .navbar-nav>.active>a{
	color: #fff;
	background-color: #142233 !important;
	border-top: solid 2px #fff;
}



.messagelist{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 70vh;
	padding: 0;
}

.msg-panel-btn{
	float: right;
}

.badge{
	background-color: #3ddc74 !important;
}

#inside-options{
	margin-bottom: 10px;
}

#txt-area textarea{
	width: 100%;
	margin-top: 29vh;
	border-radius: 4px;
}

#inbox-delete{
	margin-bottom: 15px;
}

.modal .modal-dialog{
	width: 800px;
}